<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>修改密码</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="/build/css/main.min.css">
</head>
<body>
<div class="page change-pwd">
    <header class="bar bar-nav">
        <span class="icon icon-left pull-left"></span>
        <h1 class="title">修改密码</h1>
    </header>

    <div class="content">
            <div class="content-block cb1">
                <div class="flex-box bg-orange">
                    <div class="user">
                        <img class="user-icon" src="../build/img/touxiang2.png" alt="">
                    </div>
                </div>
            </div>
        <div style="width:100%;height:.5rem;background:#e5e5e5;"></div>
        <div class="list-block" style="font-size:.875rem;color:#4d4d4d;">
            <div class="item-content">
                <div class="item-inner" style="border-bottom:1px solid #808080;">
                    <div class="item-title label"><label for="input1">旧密码</label></div>
                    <div class="item-input">
                        <input type="text" id="input1"/>
                    </div>
                </div>
            </div>
            <div class="item-content">
                <div class="item-inner" style="border-bottom:1px solid #808080;">
                    <div class="item-title label"><label for="input2">新密码</label></div>
                    <div class="item-input">
                        <input type="text" id="input2"/>
                    </div>
                </div>
            </div>
            <div class="item-content" style="border-bottom:1px solid #808080;">
                <div class="item-inner">
                    <div class="item-title label"><label for="input3">确认新密码</label></div>
                    <div class="item-input">
                        <input type="text" id="input3"/>
                    </div>
                </div>
            </div>
        </div>
        <button style="border:none;background: #ff6600 ;;color:#ffffff;padding:10px 10px;width:90%;border-radius:5px;margin-left:5%;">提交</button>
    </div>

</div>
</body>
</html>
<script type='text/javascript' src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script>
    var html = '<div class="item-inner ' +
            'aa" style="border-bottom:1px solid #808080;">' +
            '</div>'
</script>