<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品详情</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="/build/css/main.min.css">

</head>
<body>
<div class="page-group detail">
    <div class="page page-current">
        <header class="bar bar-nav bar-flex">
            <ul class="flex-center logo">
                <li class="icon">
                    <img class="img-responsive" src="../build/img/biaozhi2.png" alt="">
                </li>
                <li class="icon white">
                    /
                </li>
                <li class="icon">
                    <img class="img-responsive" src="../build/img/duoqi2.png" alt="">
                </li>
            </ul>
            <!--<ul class="flex-center location">
                &lt;!&ndash;<li class="icon">
                    <img class="img-responsive" src="../build/img/dizhi2.png" alt="">
                </li>&ndash;&gt;
                <li class="local-ad white">
                    杭州
                </li>
                <li class="change-city white">
                    【切换城市】
                </li>
            </ul>-->
        </header>
        <nav class="bar bar-tab flex-center">
            <div class="white">立即抢购</div>
        </nav>
        <div class="content">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">Slide 1</div>
                    <div class="swiper-slide">Slide 2</div>
                    <div class="swiper-slide">Slide 3</div>
                    <div class="swiper-slide">Slide 4</div>
                    <div class="swiper-slide">Slide 5</div>
                    <div class="swiper-slide">Slide 6</div>
                    <div class="swiper-slide">Slide 7</div>
                    <div class="swiper-slide">Slide 8</div>
                    <div class="swiper-slide">Slide 9</div>
                    <div class="swiper-slide">Slide 10</div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next white">
                    >
                </div>
                <div class="swiper-button-prev white">
                    <
                </div>
            </div>
            <div class="product-info" >
                <div class="product-title">
                    <strong class="orange lines">五本雷霆王72V20AH动力版五本雷霆王72V20AH动力版雷霆王72V20AH动力版雷霆王72V20AH动力版</strong>
                </div>
                <ul id="sprice">
                    <li style=""><span class="orange">￥</span><strong
                            class="orange price">3999</strong>
                    </li>
                    <li>
                        <span>定金：99元</span><span>运输安装费：99元</span><span>配送安装费：99元</span>
                    </li>
                </ul>
                <div class="color">
                    <dl>
                        <dt class="pull-left">颜色：</dt>
                        <dd id="colorSelect">
                            <span class="normal">中国红&慕尼黑</span>
                            <span class="normal">中国红&慕尼黑</span>
                            <span class="normal">中国红&慕尼黑</span>
                            <span class="normal active">中国红&慕尼黑</span>
                            <span class="normal">中国红&慕尼黑</span>
                            <span class="normal">中国红&慕尼黑</span>
                            <span class="normal">中国红&慕尼黑</span>
                            <span class="normal">中国红&慕尼黑</span>
                        </dd>
                    </dl>
                </div>
                <div class="num">
                    <div class="pull-left">数量：</div>
                    <div class="input-bar">
                        <input class="numjian pull-left" type="button"
                               value="-">
                        <input type="button"
                               value="2"
                               name="num"
                               class="thisnum pull-left"
                               id="6405">
                        <input
                                class="numjia pull-left" type="button"
                                value="+">
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="buttons-row" id="buttons-row">
                    <a href="#tab1" class="tab-link button active">商品介绍</a>
                    <span>|</span>
                    <a href="#tab2" class="tab-link button">售后服务</a>
                    <span>|</span>
                    <a href="#tab3" class="tab-link button">帮助中心</a>
                </div>
            </div>
            <div class="tabs">
                <div id="tab1" class="tab active">
                    <div class="content-block">
                        tab1内容
                    </div>
                </div>
                <div id="tab2" class="tab">
                    <div class="content-block">
                        tab2内容
                    </div>
                </div>
                <div id="tab3" class="tab">
                    <div class="content-block">
                        tab3内容
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/build/js/main.min.js' charset='utf-8'></script>
