<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>首页</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="/build/css/main.min.css">

</head>
<body>
<div class="page-group index">
    <div class="page page-current">
        <header class="bar bar-nav bar-flex">
            <ul class="flex-center logo">
                <li class="icon">
                    <img class="img-responsive" src="../build/img/biaozhi2.png" alt="">
                </li>
                <li class="icon white">
                    /
                </li>
                <li class="icon">
                    <img class="img-responsive" src="../build/img/duoqi2.png" alt="">
                </li>
            </ul>
            <ul class="flex-center location">
                <li class="icon">
                    <a href="./user-center.html"><img class="img-responsive" src="../build/img/touxiang.png" alt=""></a>
                </li>

            </ul>
        </header>
        <nav class="bar bar-tab flex-center">
            <img src="../build/img/maicheshang2.png" alt="">
        </nav>
        <div class="content">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">Slide 1</div>
                    <div class="swiper-slide">Slide 2</div>
                    <div class="swiper-slide">Slide 3</div>
                    <div class="swiper-slide">Slide 4</div>
                    <div class="swiper-slide">Slide 5</div>
                    <div class="swiper-slide">Slide 6</div>
                    <div class="swiper-slide">Slide 7</div>
                    <div class="swiper-slide">Slide 8</div>
                    <div class="swiper-slide">Slide 9</div>
                    <div class="swiper-slide">Slide 10</div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next white">
                    >
                </div>
                <div class="swiper-button-prev white">
                    <
                </div>
            </div>
            <div class="content-block banner ">
                <ul>
                    <li class="banner-left"><img class="img-responsive" src="http://placehold.it/360x343" alt=""></li>
                    <li class="banner-right">
                        <div>
                            <img class="img-responsive" src="http://placehold.it/200x100" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="http://placehold.it/200x100" alt="">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-padded grid-demo">
                <div class="row">
                    <div class="col-50 product">
                        <a class="img-box">
                            <img class="img-responsive" src="http://placehold.it/360x360" alt="">
                        </a>
                        <h3 class="item-title">
                            产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字
                        </h3>
                        <p class="item-price">
                            <span>￥</span><span>3999</span>
                        </p>
                    </div>
                    <div class="col-50 product">
                        <a class="img-box">
                            <img class="img-responsive" src="http://placehold.it/360x360" alt="">
                        </a>
                        <h3 class="item-title">
                            产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字
                        </h3>
                        <p class="item-price">
                            <span>￥</span><span>3999</span>
                        </p>
                    </div>
                    <div class="col-50 product">
                        <a class="img-box">
                            <img class="img-responsive" src="http://placehold.it/360x360" alt="">
                        </a>
                        <h3 class="item-title">
                            产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字
                        </h3>
                        <p class="item-price">
                            <span>￥</span><span>3999</span>
                        </p>
                    </div>
                    <div class="col-50 product">
                        <a class="img-box">
                            <img class="img-responsive" src="http://placehold.it/360x360" alt="">
                        </a>
                        <h3 class="item-title">
                            产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字产品名字
                        </h3>
                        <p class="item-price">
                            <span>￥</span><span>3999</span>
                        </p>
                    </div>
                </div>
            </div>

        <footer class="content-block flex-center">
            <ul class="clearfix">
                <li class="pull-left"><a class="orange external" href="login.html">登录</a></li>
                <li class="orange pull-left">|</li>
                <li class=" pull-left"><a class="orange" href="register.html">注册</a></li>
                <li class="orange pull-left">|</li>
                <li class=" pull-left"><a class="orange" href="#">反馈</a></li>
                <li class="orange pull-left">|</li>
                <li id="btop" class=" pull-left"><a class="orange external" href="#">顶部</a></li>
            </ul>
        </footer>
    </div>


    <!-- 其他的单个page内联页（如果有） -->
    <div class="page">...</div>
</div>
</div>
</body>
</html>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/build/js/main.min.js' charset='utf-8'></script>
