<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的订单</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="/build/css/main.min.css">
</head>
<body>
<div class="page-group my-cf" id="myOrder">
    <div class="page page-current ">
        <header class="bar bar-nav clearfix">
            <a class="icon icon-left pull-left external back"></a>
            <h1 class="title">查看详情</h1>
        </header>
        <div class="content">
            <div class="content-block">
                <div class="order">
                    <div class="state">
                        <p>品牌：搜狐Smart-E折叠锂电车</p>
                        <p>订单编号：7341095525597184</p>
                        <p>时间：2016-09-13 20:32:49</p>
                        <p>颜色：中国红</p>
                        <p>数量：122辆</p>
                        <p>订单金额：<span class="orange">￥1</span></p>
                        <p>交易状态：未支付</p>
                        <p>手机号：18616270336</p>
                        <p>姓名：汪凯</p>
                        <p>收货地址：浙江省杭州市滨江区秋溢路288号东冠科技园</p>
                        <p>收货方式：送货上门</p>
                        <p>备注：行尸走肉</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
<script type='text/javascript' src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/build/js/main.min.js' charset='utf-8'></script>
