<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新建收货信息</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="/build/css/main.min.css">

</head>
<body>
<div class="page-group pay-detail">
    <div class="page page-current ">
        <header class="bar bar-nav">
            <a class="icon icon-left pull-left white"></a>
            <h1 class="title white">收货信息</h1>
        </header>
        <nav class="bar bar-tab flex-center">
            <a class="white" href="#">立即支付</a>
        </nav>
        <div class="content">
            <div class="content-block">
                <div class="list-block">
                    <ul>
                        <li class="item-content">
                            <div class="item-inner">
                                订单号：<span>15456151531235156</span>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-inner">
                                实付款：<span class="orange">￥1000.00</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-block">
                <div class="list-block pay-way">
                    <ul>
                        <li class="item-content t">
                            <div class="item-inner">
                                支付方式：
                            </div>
                        </li>
                        <li class="item-content pay-method">
                            <div class="item-inner">
                                <div class="item-title">
                                    <label for="zhifubao">
                                        <input id="zhifubao" type="radio" name="way" checked>
                                        <img class="icon" src="../build/img/zhifubao2.png" alt="">
                                        <span>支付宝支付</span>
                                    </label>

                                </div>
                                <div class="item-after">
                                    <div class="pull-left choose-on zhifubao">
                                        <img src="../build/img/xuanze2.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-content pay-method">
                            <div class="item-inner">
                                <div class="item-title">
                                    <label for="yinlian">
                                        <input id="yinlian" type="radio" name="way">
                                        <img class="icon" src="../build/img/yinlian2.png" alt="">
                                        <span>中国银联支付</span>
                                    </label>

                                </div>
                                <div class="item-after">
                                    <div class="pull-left choose-on">
                                        <img src="../build/img/xuanze2.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-content pay-method">
                            <div class="item-inner">
                                <div class="item-title">
                                    <label for="weixin">
                                        <input id="weixin" type="radio" name="way">
                                        <img class="icon" src="../build/img/weixin2.png" alt="">
                                        <span>微信支付</span>
                                    </label>
                                </div>
                                <div class="item-after">
                                    <div class="pull-left choose-on">
                                        <img src="../build/img/xuanze2.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
<script type='text/javascript' src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/build/js/main.min.js' charset='utf-8'></script>

