<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新用户注册</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="/build/css/main.min.css">

</head>
<body>
<div class="page-group register">
    <div class="page page-current ">
        <header class="bar bar-nav clearfix">
            <a href="index.html" class="icon pull-right guanbi">
                <img class="close-popup" src="../build/img/guanbi2.png" alt="">
            </a>
            <h1 class="title">快速登录</h1>
        </header>
        <div class="content">
            <div class="content-block cb1">
                <div class="flex-box bg-orange">
                    <div class="user">
                        <img class="user-icon" src="../build/img/touxiang2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="content-block cb2">
                <div class="list-block">
                    <ul>
                        <!-- Text inputs -->
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">手机号</div>
                                    <div class="item-input">
                                        <input id="registersj" type="number" >
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">姓</div>
                                    <div class="item-input">
                                        <input id="registerx" type="text">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">名</div>
                                    <div class="item-input">
                                        <input id="registerm" type="text">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">密码</div>
                                    <div class="item-input">
                                        <input id="registermm1" type="password">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">重复密码</div>
                                    <div class="item-input">
                                        <input id="registermm2" type="password">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">图形验证码</div>
                                    <div class="item-input">
                                        <input id="registertxyzm" type="text">
                                        <div class="yzm1">
                                            <img class="security-code1 img-responsive" src="http://www.daoyixing.com/hd-web/verify-code" id="pic_yzm">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="item-content">
                                <label for="choose" class="clearfix">
                                    <input class="pull-left" id="choose" type="checkbox" checked>
                                    <span class="xz pull-left">
                                        <img src="../build/img/xuanze2.png" alt="">
                                    </span>
                                    <span class="pull-left">我已阅读并同意<a href="#" class="external orange">《道易行注册协议》</a></span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="btns">
                    <button id="register" class="bg-orange btn-regist ">注册</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type='text/javascript' src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/build/js/main.min.js' charset='utf-8'></script>
