body{
    font-family:"Microsoft YaHei UI";
}
a{
    text-decoration: none;
}
ul,p{
    margin:0!important;
    padding:0;
}
ul,ol,li{
    list-style: none;
}
.img-responsive{
    display:block;
    max-width: 100%;
    height: auto;
}
.bar{
    background-color: #ff6600;
}


header.bar-flex{
    display:flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /* -webkit-box-pack: center;
     -ms-flex-pack: center;*/
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
header.bar ul{
    list-style: none;
    height:54px;
}
.logo li:first-child{
    width:96px;
}
.logo li:nth-child(2){
    font-size: 26px;
    margin-top:4px;
}
.logo li:last-child{
    margin-top:4px;
    width:45px;
}
.location{
    padding-top:8px;
}
.location li:first-child{
    width:30px;
    margin-bottom:6px;
}
.location li:nth-child(2){
    font-size:10px;
}
.location li:last-child{
    font-size:9px;
}
nav img{
    max-width: 92px;
}
footer.content-block{
    margin-top:0;
    background:#ffffff;
}
footer.content-block{
    padding:8px 0;
}
footer ul li{
    padding-left:0.6rem;
    font-size:0.7rem;
}

.flex-center{
    display:flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.icon{
    display:inline-block;
}

.white{
    color:#ffffff!important;
}
.orange{
    color:#ff6600;
}
.bg-orange{
    color:#ffffff;
    background:#ff6600;
}

/****轮播**/
.swiper-container {
    width: 100%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-button-next,.swiper-button-prev{
    background-image: none;
    width:26px;
    height:26px;
    border-radius:13px;
    background-color:rgba(0,0,0,.2);
    text-align: center;
    line-height:26px;
    font-size:22px;
    font-weight: 400;
    font-family: SimSun-ExtB;
}
.swiper-pagination-bullet-active{
    opacity:1;
    background:#ff6600;
}
    /*.gray{
        color:#999999;
    }*/
.center{
    margin:0 auto;
}
.con-title{
    font-size:.85rem;
    color:#333333;
    /*margin:1rem 0;*/
    padding:1rem .75rem;
}
.elli{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.lines{
    overflow:hidden;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    text-overflow: ellipsis;
}

.content-block{
    margin:.5rem 0 .5rem;
    padding:0;
}
.description{
    overflow: hidden;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    color:#666666;
    font-size:.65rem;
    margin-top:.6rem!important;
}
.flex-box{
    display:flex;
    display:-webkit-flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height:130px;
}
.user .user-icon{
    max-width:3rem;
}
.cb1{
    background:#efeff4;
    margin:0;
    padding-top:.5rem;
}
.cb2{
    margin:0;
}
.item-input{
    display: flex;
    display:-webkit-flex;
    align-items: center;
    justify-content: flex-start;
}
.yzm1 .security-code1{
    width:100%;
    height:34px;
    border-radius:4px;
    display: block;
}
.yzm1{
    width:110px;
    height:34px;
}
.yzm2{
    width:110px;
    height:34px;
    background: #33cc99;
    border-radius:4px;
    color:#ffffff;
    text-align: center;
    line-height:36px;
    font-size: .5rem;
}
#choose{
    width:0;
    height:0;
}
.xz{
    height:1rem;
    width: 1.1rem;
    border:1px solid #cccccc;
    border-radius: 4px;
}
.xz img{
    max-width:1rem;
}
.item-content label span{
    font-size:.65rem;
    margin-left:8px;
}
.guanbi img{
    max-width:24px;
}
